.btn {
    position: relative;
    width: max-content;
    padding: 10px 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #000;
    background-color: #000;
    transition: background-color 0.3s;

    &:hover {
        background-color: #fff;
    }

    &:hover .btn__text {
        color: #000;
    }

    &:not([disabled]) {
        cursor: pointer;
    }

    &[disabled] {
        pointer-events: none;
        opacity: 0.6;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: #fff;
        transition: color 0.3s;
    }
}